<div class="map" style="background-image: url()"></div>

<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="flat-show-card">
        <h1><%= @flat.name %></h1>
        <p class="flat-show-address"><%= @flat.address %></p>
      </div>
      <div class="flat-show-card">
        <h3>A bit more about this flat...</h3>
        <p><%= @flat.description %></p>
      </div>
    </div>

    <div class="flat-show-card">
      <div class="flex">
        <h3>Details</h3>
        <div class="flex">
          <i class="fas fa-user-friends"></i> <span><%= @flat.number_of_guests %></span>
        </div>
        <div class="flex">
          <i class="fas fa-euro-sign"></i> <%= @flat.price_per_night %>
        </div>
      </div>
    </div>
  </div>
</div>

